@import '@css/font-awesome.css';
@import '@css/animations.css';

/* NPMJS - Readme container */

section#tabpanel-readme {
  position: relative;
}

/* Code blocks & buttons */

.pjpm-install-code-block {
  border-bottom: transparent 1px solid;
}

.pjpm-modified {
  border-bottom: #8c2121 1px dashed;
}

button.pjpm-button {
  position: absolute;
  right: 0;
  left: inherit;
  transform: translate3d(calc(100% - 20px), 0, 0);
  border: 1px solid #afafaf;
  background: #fff;
  z-index: 0;
  cursor: pointer;
  padding: 0.5em;
  width: auto;
  height: auto;
  font-size: 0.8em;
  border-radius: 0.25rem;
  transition: color 0.4s, opacity 0.2s, background 0.35s;
  color: #888;
  opacity: 0.65;
  min-width: 30px;
  min-height: 30px;
}

button.pjpm-button:hover {
  opacity: 1;
}

button.pjpm-reverse-button {
  transform: translate3d(calc(100% - 20px), 35px, 0);
}
button.pjpm-reverse-button:hover {
  color: #cb3837;
}

button.pjpm-copy-button:hover {
  color: #000;
}
button.pjpm-copy-button.copying {
  background: hsl(120deg 100% 98%);
  opacity: 1;
}
button.pjpm-copy-button.copying > i {
  animation: pjpm-code-block-copied 0.5s forwards;
}

/* Npmjs Overwrite Rules */

.pjpm-npmjs-website button.pjpm-button ~ *:not(button) {
  margin-right: 2.25em !important;
  display: block;
}
.pjpm-npmjs-website button.pjpm-button.pjpm-reverse-button ~ *:not(button) {
  margin-right: 4.25em !important;
}

.pjpm-npmjs-website button.pjpm-button {
  transform: translate3d(-2.75em, -0.75em, 0);
}
.pjpm-npmjs-website button.pjpm-reverse-button {
  transform: translate3d(-5.25em, -0.75em, 0);
}

.pjpm-npmjs-website .highlight > button.pjpm-button {
  transform: translate3d(-2.75em, 0.25em, 0);
}
.pjpm-npmjs-website .highlight > button.pjpm-reverse-button {
  transform: translate3d(-5.25em, 0.25em, 0);
}

/* Yarnpkg overwrite rules */

.pjpm-yarn-website #readme pre > code {
  margin-right: 1.55em;
  display: inline-block;
}
.pjpm-yarn-website button.pjpm-reverse-button ~ code {
  margin-right: 3.65em !important;
}

.pjpm-yarn-website button.pjpm-button {
  transform: translate3d(-0.25em, -0.5em, 0);
  opacity: 1;
}
.pjpm-yarn-website button.pjpm-reverse-button {
  transform: translate3d(-2.75em, -0.5em, 0);
}

.pjpm-yarn-website-classic.pjpm-yarn-website button.pjpm-button {
  transform: translate3d(-1.75em, -0.45em, 0);
}
.pjpm-yarn-website-classic.pjpm-yarn-website button.pjpm-reverse-button {
  transform: translate3d(-4.65em, -0.45em, 0);
}

/* Responsive */

@media (max-width: 960px) {
  #tabpanel-readme {
    padding-right: 1.5em;
  }
}
