code.pjpm-copy-box {
  position: relative;
}

/* Prevent copy icon to interfer with our custom code */

code.pjpm-copy-box:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* On copy feedback message */

code.pjpm-copy-box.copying:after {
  content: 'Copied to clipboard';
  position: absolute;
  left: 0;
  top: -10%;
  width: 100%;
  height: 120%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(120, 100%, 93%);
  border-color: #00c642;
  animation: pjpm-copied 1.5s forwards;
}

@keyframes pjpm-copied {
  0% {
    transform: translate3d(0, -5%, 0);
  }

  25% {
    transform: translate3d(0, 0%, 0);
  }

  0%,
  65% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
