body {
  padding: 1em;
  background: #fefefe;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  font-family: 'Segoe UI', Tahoma, sans-serif;
  font-size: 75%;
}

body.loaded {
  opacity: 1;
  visibility: visible;
}

h1 {
  font-size: 1.2em;
}

.wrap {
  display: flex;
  justify-content: space-between;
  padding: 0em 0.5em;
  border-bottom: #efefef 1px solid;
  align-items: center;
}

.wrap label {
  cursor: pointer;
  flex: 1;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

input[type='checkbox'] {
  cursor: pointer;
}
