@import '@css/animations.css';

.pjpm-install-copy-box-container {
  background-color: transparent !important;
  padding: 0 !important;
}

.pjpm-install-copy-box {
  display: flex;
  flex-direction: column;
  padding: 0;
  transition: color 0.5s, text-shadow 0.5s;
  overflow: visible !important;
}

.pjpm-install-copy-box .pjpm-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: PT Mono, monospace;
  cursor: pointer;
  padding: 0.75em 0.75em 0.75em 1.5em;
  border: 1px solid #cbcbcb;
  border-radius: 0.2em;
  margin: 0.25em 0.2em;
  background-color: #f7f7f7;
}
.pjpm-install-copy-box .pjpm-wrap:hover {
  text-shadow: 0px 1px 1px rgb(0 0 0 / 20%);
}

.pjpm-install-copy-box .pjpm-wrap.none {
  display: none !important;
}

.pjpm-install-copy-box .pjpm-wrap:before {
  content: '$';
  position: absolute;
  transform: translate(-0.75em, 0.15em);
  font-size: 0.85em;
  opacity: 0.65;
  font-weight: 100;
}

.pjpm-install-copy-box .pjpm-wrap span {
  font-size: 0.75em;
  margin-left: 0.5em;
}
.pjpm-yarn-website-classic .pjpm-install-copy-box .pjpm-wrap span {
  font-size: 0.9em;
}

.pjpm-install-copy-box > .pjpm-wrap.copying {
  color: #000;
}
.pjpm-install-copy-box > .pjpm-wrap.copying i {
  animation: pjpm-code-block-copied 0.5s forwards;
}

/* Classic website hide copy button */

.pjpm-install-copy-box ~ .copyable--button {
  display: none !important;
}
